<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pagina de usuarios proyecto Bi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            text-align: center;
            max-width: 600px; /* Ajusta el ancho del contenedor según tus preferencias */
            margin: auto;
        }
        .btn-container {
            margin-top: 20px;
        }
        .dashed-border {
            border: 2px dashed #007bff; /* Color azul, puedes cambiarlo según tus preferencias */
            border-radius: 8px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="p-3 bg-primary text-white mb-4">
            <h1>Pagina de usuarios proyecto Bi</h1>
        </div>

        <div class="btn-container">
            <div class="dashed-border">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" class="form-control-file" id="file" name="file" accept=".xlsx">
                    <input type="submit" class="btn btn-primary" value="Aplicar Pipeline">
                </form>

                <a id="descargarResultadoLink" href="/descargar_resultado" download class="d-inline-block">
                    <button class="btn btn-secondary">Descargar Resultado</button>
                </a>

                <button id="otroBoton" class="btn btn-success">Otro botón</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('otroBoton').addEventListener('click', function() {
            alert('¡Has presionado el otro botón!');
        });
    </script>
</body>
</html>
