<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pagina de usuarios proyecto Bi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            text-align: center;
            max-width: 600px; /* Ajusta el ancho del contenedor según tus preferencias */
            margin: auto;
        }
        .btn-container {
            margin-top: 20px;
        }
        .dashed-border {
            border: 2px dashed #007bff; /* Color azul, puedes cambiarlo según tus preferencias */
            border-radius: 8px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="p-3 bg-primary text-white mb-4">
            <h1>Pagina de usuarios proyecto Bi</h1>
        </div>

        <div class="form-group">
            <label for="csvFile">Selecciona un archivo CSV</label>
            <input type="file" class="form-control-file" id="csvFile" accept=".csv">
        </div>

        <div class="btn-container">
            <div class="dashed-border">
                <form action="/aplicar_pipeline" method="post" class="d-inline-block">
                    <input type="submit" class="btn btn-primary"  value="Aplicar Pipeline">
                </form>

                <a href="/descargar_resultado" download class="d-inline-block">
                    <button class="btn btn-secondary">Descargar Resultado</button>
                </a>

                <button class="btn btn-success">Otro botón</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>